<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iward</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Iward</h1>
        
        <form id="email-form" onsubmit="submitEmailForm(event)">
            <input type="email" id="email" name="email" placeholder="Enter email" required />
            <button type="submit">Send Email</button>
        </form>

        <form id="activation-form" onsubmit="submitActivationForm(event)">
            <input type="text" id="activation-link" name="activation_link" placeholder="Enter activation link" required />
            <button type="submit">Add User</button>
        </form>
    </div>
    <div id="information-message" class="message information-message" style="display: none;"></div>
    <div id="error-message" class="message error-message" style="display: none;"></div>
    <script src="/static/js/index.js"></script>
</body>
</html>
